.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 300px;
    text-align: center;
    position: relative;
}

.close {
    position: absolute;
    top: 0;
    right: 10px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.board-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.status {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
}

.win {
    color: green;
}

.lost {
    color: red;
}

button {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}

.board {
    display: inline-block;
    border: 1px solid #999;
}

.row {
    display: flex;
}

.cell {
    width: 30px;
    height: 30px;
    background-color: #bdbdbd;
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #7b7b7b;
    border-right: 3px solid #7b7b7b;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

.cell.revealed {
    background-color: #eee;
    border: 1px solid #999;
}
